<%- include('header.ejs') %>
<div class="container-fluid">
    <div class="jumbotron">
        <h1><%= recipe.name %></h1>
        <% if (recipe.ingredients.length > 0) { %>
        <ul class="list-group">
            <% recipe.ingredients.forEach(function(item){ %>
            <li class="list-group-item"><%= item %></li>
            <% }) %>
        </ul>
        <% } %>
    </div>
    <h2>Elkésztítés:</h2>
    <div>
        <% recipe.steps.forEach(function(item){ %>
        <p><%= item %></p>
        <% }) %>
    </div>
    <% if (isOwner) { %>
    <h2>Műveletek:</h2>
    <div>
        <a href="/recept/<%= recipe._id %>/delete" class="btn btn-warning">Törlés</a>
        <a href="/recept/<%= recipe._id %>/modify" class="btn btn-default">Módosítas</a>
    </div>
    <% } %>
</div>
<%- include('footer.ejs') %>